body {
  background: #121213;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

#grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  width: 430px;
  margin: 20px auto;
}


.linha {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.celula {
  width: 45px;
  height: 45px;
  border: 2px solid #3a3a3c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.correta { background: #538d4e; }
.presente { background: #b59f3b; }
.errada   { background: #3a3a3c; }

input {
  padding: 10px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}

button {
  padding: 10px 20px;
  margin-left: 5px;
}

#voltar {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #1db954;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

